{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full-width">

      <h1 class="heading-xlarge">Geographic registers</h1>
      <h2 class="heading-medium">The idea</h2>

      The purpose of this work was to investigate how registers that refer to locations can interact with those that refer to boundaries. A key component to this was using a geospatial database.

      <div class="grid-row">
        <div class="column-half">

          <h2 class="heading-medium">Some slides to explain what we did</h2>

          <iframe src="https://docs.google.com/presentation/d/1wLUVcZpgR03JUdZnjDXs-Ph4oUX_oa3MiK3CGNzfCLY/embed?start=false&loop=false&delayms=5000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
        
        <div class="column-half">
          <h2 class="heading-medium">Prototype pages</h2>

          We put also created the following prototype pages.

          <ul class="list list-bullet">
            <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
            <li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
          </ul>
        </div>
        
    </div>
  </div>
</main>

{% endblock %}


