{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full-width">

      <p/>
      <a href="index.html">Go back to main page</a>
      <h1 class="heading-xlarge">Boundary for a register entry</h1>

      <div class="grid-row">
        <div class="column-half">

          <label class="form-label" for="select-box">Registers with boundaries</label>
          <select class="form-control" id="select-box">
            <option>GOV.UK elements option 1</option>
            <option>GOV.UK elements option 2</option>
             <option>GOV.UK elements option 3</option>
          </select>

          <p/>
          <label class="form-label" for="list-of-register-entries">Register entry</label>
          <select class="form-control" id="list-of-register-entries">
            <option>GOV.UK elements option 1</option>
            <option>GOV.UK elements option 2</option>
            <option>GOV.UK elements option 3</option>
          </select>
        </div>

        <div class="column-half">
          <label class="form-label" for="command-box">Spatial-SQL command</label>
          <input class="form-control" id="command-box" type="textarea" rows="4">
        </div>

      </div>

      <p/><p/>
      Map here
      <div id="map"></div>
        
    </div>
  </div>
</main>

{% endblock %}


